fastapi
python-dotenv
python-multipart
uvicorn[standard]
pydantic[email]
sqlalchemy
aiomysql
mysqlclient
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
pymysql
openpyxl
reportlab
resend
redis>=5.0.0
pytest
pytest-asyncio
import-linter